<div class="checklist-answers">
  <div class="row">
    <p>CATEGORY: <%= theWeakQuestion.category %></p>
    <p>SUBCATEGORY: <%= theWeakQuestion.subcategory %></p>
    <h3>QUESTION:  <%=theWeakQuestion.question%></h3>
  </div>

  <div class="row">
    <p>Answer/s: </p>
    <% theWeakQuestion.answers.forEach((oneAns)=>{ %>
      <p>☆ <%=oneAns%></p>
    <%})%>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <a href="/weakQuestions">Go back to list</a>
    </div>
    <form class="col-sm-6 centered"  action="/weakQuestions/<%=theWeakQuestion._id%>/remove" method="post">
      <button class="bttn-unite bttn-md bttn-danger">Remove this question from list</button>
    </form>
  </div>
</div>
