<div class="row">
  <div class="col-sm-12">
    <div class="question-group" class="row">
      <h3 class="category-header">CATEGORY:</h3><p><%= theWeakQuestion.category %></p>
      <br>
      <h3 class="category-header">SUBCATEGORY:</h3><p><%= theWeakQuestion.subcategory %></p>
      <h3 class="question centered">Q: <%=theWeakQuestion.question%></h3>
    </div>

    <div id="weak-question-answers">
      <p class="answer-header">ANSWERS: </p>
      <% theWeakQuestion.answers.forEach((oneAns)=>{ %>
        <p class="an-answer">☆ <%=oneAns%></p>
      <%})%>
    </div>

    <div class="row">
      <div class="col-sm-12 centered">
        <a href="/weakQuestions"><button>GO BACK TO LIST</button></a>
      </div>
      <form class="col-sm-12 centered"  action="/weakQuestions/<%=theWeakQuestion._id%>/remove" method="post">
        <button>REMOVE QUESTION FROM MY STUDY LIST</button>
      </form>
    </div>

  </div>
</div>
